
body {
  padding: 2%;
  border: 10px solid #4b3621;
  background-color: #fff8dc;
}
header {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  margin: auto;
}

img {
  height: 100px;
  width: 20%;
  padding-right: 15%;
}

h1 {
  width: 100%;
  font-size: 55px;
  font-stretch: extra-expanded;
  color: #4b3621;
}
hr {

}
